.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.list__items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list__items .list__item {
    border: 1px solid rgb(197, 195, 195);
    border: 1px solid rgb(197, 195, 195);
    padding: 0 15px;
    background-color: aliceblue;
    font-size: 24px;
    transition: all .5s;
    border: 2px dashed transparent;
    margin: 3px;
    position: relative;


}

.list__items .drag-over {
    border-color: rgb(255, 148, 148);
    cursor: move;

}


.list__items .list__item .draggable {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: move;
}



.opacity {
    opacity: 0.2;
}

.btn {
    border: 1px solid #764AF1;
    border-radius: 0;
    background-color: none;
    padding: 20px;
    margin: 20px;
    font-weight: 500;
    font-size: 22px;
    transition: .5s;
}

.btn:hover {
    color: #fff;
    background-color: #764AF1;
    border-color: transparent;
    cursor: pointer;
}

.btn:focus {
    outline: 0;
}


.__input {
    display: block;
    border-radius: 0;
    border: 1px solid #988fb1;
    padding: 10px 25px;

}

.__input:focus {
    outline: 0;
}

.input__label {
    display: block;
    background-color: #988fb1;
    color: #fff;
    padding: 10px 25px;
    margin: 10px;
}

span.now {
    position: absolute;
    right: -160px;
    z-index: -1;
    transition: all 1s;
    background-color: rgb(255, 148, 148);
    color: #fff;
    padding: 10px 25px;
    font-family: 'Courier New', Courier, monospace;
    opacity: 0;

}

span.now.show {
    opacity: 1;
    right: -260px;

}